@import url(font-awesome.min.css);
/* line 5, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Program Files (x86)/Ruby24-x64/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../assets/base/_layout.scss */
html {
  font-size: 20px;
  color: #000;
}

/* line 2, ../assets/base/_layout.scss */
li, a {
  text-decoration: none;
}

/* line 3, ../assets/base/_layout.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

/* line 4, ../assets/base/_layout.scss */
body {
  overflow: hidden;
  background: #f4f4f4;
}

/* Wrapper */
/* line 4, ../assets/layout/_wrapper.scss */
#wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

/* Header */
/* line 2, ../assets/layout/_header.scss */
#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 2.8rem;
  line-height: 2.8rem;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  background: #fff;
  letter-spacing: .1rem;
}
/* line 18, ../assets/layout/_header.scss */
#header h1 {
  padding: 0 0 0 1.2rem;
  height: inherit;
  line-height: inherit;
}
/* line 23, ../assets/layout/_header.scss */
#header a {
  color: inherit;
}
/* line 26, ../assets/layout/_header.scss */
#header ul li {
  display: inline-block;
}
/* line 29, ../assets/layout/_header.scss */
#header .links {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  margin: 0 0 0 1.2rem;
  padding: 0 0 0 1.2rem;
  height: inherit;
  line-height: inherit;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}
/* line 38, ../assets/layout/_header.scss */
#header .links ul li {
  margin: 0 0 0 0.7rem;
  padding: 0 0 0 0.7rem;
  line-height: 1;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}
/* line 44, ../assets/layout/_header.scss */
#header .links ul li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
/* line 50, ../assets/layout/_header.scss */
#header .links ul li a {
  border-bottom: 0;
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
}

/* Main */
/* line 2, ../assets/layout/_main.scss */
#main {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
  width: 100%;
  font-size: .7rem;
  letter-spacing: .1rem;
  text-align: center;
}
/* line 12, ../assets/layout/_main.scss */
#main .logo {
  display: inline-block;
  padding: 1.2rem;
}
/* line 15, ../assets/layout/_main.scss */
#main .logo img {
  width: 3rem;
  max-height: 100%;
  -moz-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  -ms-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  -o-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
}
/* line 23, ../assets/layout/_main.scss */
#main .title h1 {
  padding: .5rem 0;
  font-size: 1.2rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 700;
}
/* line 29, ../assets/layout/_main.scss */
#main .title h3 {
  padding: .2rem 0;
  font-size: .8rem;
  font-weight: 400;
}
/* line 34, ../assets/layout/_main.scss */
#main .title span {
  display: inline-block;
  padding: 0 .8rem 2rem .8rem;
}
/* line 40, ../assets/layout/_main.scss */
#main #stage {
  width: 100%;
  background: #fff;
  border: solid 1px rgba(160, 160, 160, 0.3);
}

/* animal:vaquita */
/* line 49, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps {
  /* background-color: rgb(100, 214, 226); */
}
/* line 53, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(1) .shard {
  -webkit-clip-path: polygon(9.38% 59.35%, 13.4% 58.95%, 9.28% 61.08%);
  background-color: #334543;
}
/* line 59, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(2) .shard {
  -webkit-clip-path: polygon(9.28% 61.08%, 13.25% 58.96%, 11.7% 62.35%);
  background-color: #111619;
}
/* line 65, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(3) .shard {
  -webkit-clip-path: polygon(9.389% 59.352%, 14.368% 45.048%, 17.882% 45.693%);
  background-color: #3c4650;
}
/* line 71, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(4) .shard {
  -webkit-clip-path: polygon(9.389% 59.352%, 17.882% 45.693%, 14.684% 54.94%);
  background-color: #0F1622;
}
/* line 77, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(5) .shard {
  -webkit-clip-path: polygon(9.389% 59.352%, 14.684% 54.94%, 13.25% 58.958%);
  background-color: #d9eadf;
}
/* line 83, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(6) .shard {
  -webkit-clip-path: polygon(11.705% 62.346%, 13.25% 58.958%, 32.112% 61.716%);
  background-color: #d9ebeb;
}
/* line 89, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(7) .shard {
  -webkit-clip-path: polygon(13.25% 58.958%, 14.684% 54.94%, 17.827% 55.964%);
  background-color: #333c40;
}
/* line 95, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(8) .shard {
  -webkit-clip-path: polygon(13.25% 58.958%, 17.827% 55.964%, 15.676% 59.431%);
  background-color: #1c2529;
}
/* line 101, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(9) .shard {
  -webkit-clip-path: polygon(14.684% 54.94%, 17.882% 45.693%, 17.827% 55.964%);
  background-color: #62827f;
}
/* line 107, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(10) .shard {
  -webkit-clip-path: polygon(15.676% 59.431%, 17.827% 55.964%, 32.112% 61.716%);
  background-color: #bdd0d0;
}
/* line 113, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(11) .shard {
  -webkit-clip-path: polygon(14.368% 45.048%, 41.129% 30.988%, 17.882% 45.693%);
  background-color: #273537;
}
/* line 119, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(12) .shard {
  -webkit-clip-path: polygon(17.882% 45.693%, 41.047% 30.988%, 58.171% 35.479%);
  background-color: #384e4d;
}
/* line 125, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(13) .shard {
  -webkit-clip-path: polygon(17.882% 45.693%, 37.186% 39.103%, 17.827% 55.964%);
  background-color: #486461;
}
/* line 131, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(14) .shard {
  -webkit-clip-path: polygon(17.827% 55.964%, 37.131% 39.103%, 33.711% 48.13%);
  background-color: #62827f;
}
/* line 137, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(15) .shard {
  -webkit-clip-path: polygon(17.827% 55.964%, 33.766% 48.13%, 32.112% 61.716%);
  background-color: #aac7c6;
}
/* line 144, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(16) .shard {
  -webkit-clip-path: polygon(25.99% 61.716%, 32.64% 61.368%, 36.91% 70.146%);
  background-color: #0d1417;
}
/* line 150, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(17) .shard {
  -webkit-clip-path: polygon(33.711% 48.13%, 55.276% 61.952%, 32.195% 61.597%);
  background-color: #d9ebeb;
}
/* line 156, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(18) .shard {
  -webkit-clip-path: polygon(27.107% 55.964%, 39.318% 59.352%, 40.467% 66.772%);
  background-color: #334543;
}
/* line 162, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(19) .shard {
  -webkit-clip-path: polygon(27.107% 55.964%, 40.467% 66.772%, 45.128% 74.085%);
  background-color: #21282f;
}
/* line 169, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(20) .shard {
  -webkit-clip-path: polygon(33.711% 48.13%, 37.076% 39.121%, 59.688% 51.237%);
  background-color: #739998;
}
/* line 175, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(21) .shard {
  -webkit-clip-path: polygon(36.414% 33.588%, 47.582% 21.06%, 47.044% 34.533%);
  background-color: #2d3b3b;
}
/* line 181, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(22) .shard {
  -webkit-clip-path: polygon(33.711% 48.13%, 59.688% 51.237%, 55.276% 61.952%);
  background-color: #d8e2de;
}
/* line 187, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(23) .shard {
  -webkit-clip-path: polygon(37.076% 39.121%, 58.171% 35.479%, 55.3% 40.679%);
  background-color: #415555;
}
/* line 193, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(24) .shard {
  -webkit-clip-path: polygon(37.076% 39.121%, 55.3% 40.442%, 59.688% 51.237%);
  background-color: #486461;
}
/* line 199, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(25) .shard {
  -webkit-clip-path: polygon(55.3% 40.442%, 58.171% 35.479%, 59.688% 51.237%);
  background-color: #384e4d;
}
/* line 205, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(26) .shard {
  -webkit-clip-path: polygon(58.171% 35.479%, 75.108% 48.262%, 59.688% 51.237%);
  background-color: #4b6364;
}
/* line 212, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(27) .shard {
  -webkit-clip-path: polygon(55.276% 61.952%, 59.688% 51.237%, 75.108% 48.262%);
  background-color: #c0dbd3;
}
/* line 218, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(28) .shard {
  -webkit-clip-path: polygon(58.171% 35.479%, 82.907% 41.309%, 75.108% 48.262%);
  background-color: #2d3b3b;
}
/* line 224, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(29) .shard {
  -webkit-clip-path: polygon(78.275% 41.979%, 86.099% 38.183%, 96.64% 38.788%);
  background-color: #365255;
}
/* line 230, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(30) .shard {
  -webkit-clip-path: polygon(78.275% 41.979%, 96.64% 38.788%, 88.644% 43.784%);
  background-color: #678781;
}

/* line 242, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(1) .shard {
  -webkit-clip-path: polygon(20.35% 45.429%, 22.8% 35.571%, 28.95% 39.286%);
  background-color: #8F6B4E;
}
/* line 248, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(2) .shard {
  -webkit-clip-path: polygon(20.35% 45.429%, 26.45% 41%, 23.65% 47.429%);
  background-color: #684B2D;
}
/* line 254, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(3) .shard {
  -webkit-clip-path: polygon(22.8% 35.714%, 22.75% 27.857%, 30.05% 29%);
  background-color: #B89076;
}
/* line 260, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(4) .shard {
  -webkit-clip-path: polygon(25.4% 28.357%, 29.7% 28.929%, 22.8% 35.643%);
  background-color: #c6a188;
}
/* line 266, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(5) .shard {
  -webkit-clip-path: polygon(22.8% 35.714%, 30% 28.857%, 27.95% 40.4%);
  background-color: #AA8269;
}
/* line 272, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(6) .shard {
  -webkit-clip-path: polygon(22.85% 29.143%, 19.35% 24.857%, 22.65% 26.286%);
  background-color: #DEC9BF;
}
/* line 278, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(7) .shard {
  -webkit-clip-path: polygon(22.75% 27.857%, 25.85% 25.571%, 30.05% 29.286%);
  background-color: #A2725D;
}
/* line 285, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(8) .shard {
  -webkit-clip-path: polygon(29.85% 29%, 34.35% 26.286%, 32.75% 31.143%);
  background-color: #DEC9BF;
}
/* line 291, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(9) .shard {
  -webkit-clip-path: polygon(23.45% 27.286%, 21.65% 16.143%, 24.95% 26.429%);
  background-color: #634C42;
}
/* line 297, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(10) .shard {
  -webkit-clip-path: polygon(26.05% 25.857%, 30.15% 19.714%, 28.05% 27.571%);
  background-color: #634C42;
}
/* line 303, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(11) .shard {
  -webkit-clip-path: polygon(21.75% 16%, 24.95% 4.429%, 22.25% 17.857%);
  background-color: #312B34;
}
/* line 309, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(12) .shard {
  -webkit-clip-path: polygon(30.05% 19.714%, 34.05% 15.571%, 28.85% 24.429%);
  background-color: #312B34;
}
/* line 315, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(13) .shard {
  -webkit-clip-path: polygon(33.15% 16.571%, 33.15% 4.429%, 33.95% 15.571%);
  background-color: #413430;
}
/* line 321, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(14) .shard {
  -webkit-clip-path: polygon(29.95% 29.143%, 37.15% 42.571%, 27.85% 40%);
  background-color: #A3785C;
}
/* line 327, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(15) .shard {
  -webkit-clip-path: polygon(27.75% 40%, 37.15% 42.429%, 33.8% 53.4%);
  background-color: #835D48;
}
/* line 334, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(16) .shard {
  -webkit-clip-path: polygon(33.45% 35.857%, 52.05% 38.2%, 37.05% 42.714%);
  background-color: #835D48;
}
/* line 342, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(17) .shard {
  -webkit-clip-path: polygon(37.2% 42.1%, 38.85% 58.714%, 33.75% 53.429%);
  background-color: #896444;
}
/* line 348, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(18) .shard {
  -webkit-clip-path: polygon(37.05% 42.429%, 47.85% 60.714%, 38.75% 58.714%);
  background-color: #A3785C;
}
/* line 354, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(19) .shard {
  -webkit-clip-path: polygon(37.05% 42.571%, 52.05% 38.143%, 47.85% 60.714%);
  background-color: #996E50;
}
/* line 360, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(20) .shard {
  -webkit-clip-path: polygon(38.85% 58.571%, 43.45% 59.571%, 36.65% 76.286%);
  background-color: #9E765B;
}
/* line 366, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(21) .shard {
  -webkit-clip-path: polygon(38.55% 71.571%, 41.95% 85.429%, 36.65% 75.714%);
  background-color: #76563A;
}
/* line 372, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(22) .shard {
  -webkit-clip-path: polygon(43.85% 59.571%, 47.85% 60.571%, 46.35% 85.714%);
  background-color: #AC805E;
}
/* line 379, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(23) .shard {
  -webkit-clip-path: polygon(47.75% 60.571%, 52% 38.143%, 61.95% 58.143%);
  background-color: #91694E;
}
/* line 385, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(24) .shard {
  -webkit-clip-path: polygon(51.85% 38.286%, 67.15% 35.714%, 73.65% 47.571%);
  background-color: #906754;
}
/* line 391, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(25) .shard {
  -webkit-clip-path: polygon(52.05% 38.286%, 73.65% 47.429%, 61.85% 58.286%);
  background-color: #A2785C;
}
/* line 397, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(26) .shard {
  -webkit-clip-path: polygon(65.85% 59.143%, 70.85% 52.286%, 73.65% 74.143%);
  background-color: #654E45;
}
/* line 403, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(27) .shard {
  -webkit-clip-path: polygon(61.85% 58.143%, 73.55% 47.429%, 68.35% 59.143%);
  background-color: #AF896D;
}
/* line 409, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(28) .shard {
  -webkit-clip-path: polygon(61.85% 58%, 68.35% 59.143%, 68.35% 72.286%);
  background-color: #BF9C87;
}
/* line 416, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(30) .shard {
  -webkit-clip-path: polygon(66.45% 68.143%, 68.25% 72.143%, 62.05% 86.143%);
  background-color: #7E5C3F;
}
/* line 422, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(29) .shard {
  -webkit-clip-path: polygon(71.45% 69.714%, 73.55% 73.857%, 71.35% 85.429%);
  background-color: #B48461;
}

/* Footer */
/* line 2, ../assets/layout/_footer.scss */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.7rem;
  text-align: center;
}
