@import url(font-awesome.min.css);
/* basic */
/* line 23, ../assets/base/_layout.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 23, ../assets/base/_layout.scss */
html {
  font-size: 20px;
}

/* line 23, ../assets/base/_layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, ../assets/base/_layout.scss */
body {
  line-height: 1;
  background: #f4f4f4;
}

/* line 23, ../assets/base/_layout.scss */
ol, ul {
  list-style: none;
}

/* line 23, ../assets/base/_layout.scss */
li, a {
  text-decoration: none;
}

/* line 23, ../assets/base/_layout.scss */
blockquote, q {
  quotes: none;
}

/* line 23, ../assets/base/_layout.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 23, ../assets/base/_layout.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Wrapper */
/* line 4, ../assets/layout/_wrapper.scss */
#wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 auto;
}

/* Header */
/* line 2, ../assets/layout/_header.scss */
#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 2.8rem;
  line-height: 2.8rem;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  background: #fff;
  letter-spacing: .1rem;
}
/* line 18, ../assets/layout/_header.scss */
#header h1 {
  padding: 0 0 0 1.2rem;
  height: inherit;
  line-height: inherit;
  font-size: 0.7rem;
  letter-spacing: .2rem;
}
/* line 25, ../assets/layout/_header.scss */
#header a {
  color: inherit;
}
/* line 28, ../assets/layout/_header.scss */
#header ul li {
  display: inline-block;
}
/* line 31, ../assets/layout/_header.scss */
#header .links {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  margin: 0 0 0 1.2rem;
  padding: 0 0 0 1.2rem;
  height: inherit;
  line-height: inherit;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}
/* line 40, ../assets/layout/_header.scss */
#header .links ul li {
  margin: 0 0 0 0.7rem;
  padding: 0 0 0 0.7rem;
  line-height: 1;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}
/* line 46, ../assets/layout/_header.scss */
#header .links ul li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
/* line 52, ../assets/layout/_header.scss */
#header .links ul li a {
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
}

/* Main */
/* line 2, ../assets/layout/_main.scss */
#main {
  font-size: 0.7rem;
  position: relative;
  top: 2.8rem;
  width: 100%;
}
/* line 7, ../assets/layout/_main.scss */
#main #message {
  position: absolute;
}
/* line 9, ../assets/layout/_main.scss */
#main #message .diamond {
  display: inline-block;
  overflow: hidden;
  padding-top: 2rem;
}
/* line 14, ../assets/layout/_main.scss */
#main #message .diamond img {
  width: 3rem;
  max-height: 100%;
  -moz-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  -ms-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  -o-clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
}
/* line 22, ../assets/layout/_main.scss */
#main .title h1 {
  padding: 1.2rem 0 .5rem 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}
/* line 28, ../assets/layout/_main.scss */
#main .title h3 {
  padding: .5rem 0;
  font-size: .95rem;
  font-weight: 400;
  letter-spacing: .2rem;
}
/* line 34, ../assets/layout/_main.scss */
#main .title span {
  display: inline-block;
  padding: .5rem .4rem .2rem .4rem;
  font-size: .65rem;
  letter-spacing: .2rem;
}
/* line 42, ../assets/layout/_main.scss */
#main #stage {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  border: solid 1px rgba(160, 160, 160, 0.3);
  background: #fff;
}
/* line 50, ../assets/layout/_main.scss */
#main #stage .shard-wraps, #main #stage .shard-wrap {
  width: 100%;
  height: 100%;
}
/* line 55, ../assets/layout/_main.scss */
#main #stage .shard-wrap {
  z-index: 2;
  position: absolute;
}
/* line 58, ../assets/layout/_main.scss */
#main #stage .shard-wrap .shard {
  width: 100%;
  height: 100%;
}
/* line 62, ../assets/layout/_main.scss */
#main #stage .shard-wrap .shard::before {
  content: '';
  display: block;
  height: 100%;
}

/* animal:vaquita */
/* line 74, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps {
  /* background-color: rgb(100, 214, 226); */
}
/* line 78, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(1) .shard {
  -webkit-clip-path: polygon(9.38% 59.35%, 13.4% 58.95%, 9.28% 61.08%);
  background-color: #334543;
}
/* line 84, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(2) .shard {
  -webkit-clip-path: polygon(9.28% 61.08%, 13.25% 58.96%, 11.7% 62.35%);
  background-color: #111619;
}
/* line 90, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(3) .shard {
  -webkit-clip-path: polygon(9.389% 59.352%, 14.368% 45.048%, 17.882% 45.693%);
  background-color: #3c4650;
}
/* line 96, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(4) .shard {
  -webkit-clip-path: polygon(9.389% 59.352%, 17.882% 45.693%, 14.684% 54.94%);
  background-color: #0F1622;
}
/* line 102, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(5) .shard {
  -webkit-clip-path: polygon(9.389% 59.352%, 14.684% 54.94%, 13.25% 58.958%);
  background-color: #d9eadf;
}
/* line 108, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(6) .shard {
  -webkit-clip-path: polygon(11.705% 62.346%, 13.25% 58.958%, 32.112% 61.716%);
  background-color: #d9ebeb;
}
/* line 114, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(7) .shard {
  -webkit-clip-path: polygon(13.25% 58.958%, 14.684% 54.94%, 17.827% 55.964%);
  background-color: #333c40;
}
/* line 120, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(8) .shard {
  -webkit-clip-path: polygon(13.25% 58.958%, 17.827% 55.964%, 15.676% 59.431%);
  background-color: #1c2529;
}
/* line 126, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(9) .shard {
  -webkit-clip-path: polygon(14.684% 54.94%, 17.882% 45.693%, 17.827% 55.964%);
  background-color: #62827f;
}
/* line 132, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(10) .shard {
  -webkit-clip-path: polygon(15.676% 59.431%, 17.827% 55.964%, 32.112% 61.716%);
  background-color: #bdd0d0;
}
/* line 138, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(11) .shard {
  -webkit-clip-path: polygon(14.368% 45.048%, 41.129% 30.988%, 17.882% 45.693%);
  background-color: #273537;
}
/* line 144, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(12) .shard {
  -webkit-clip-path: polygon(17.882% 45.693%, 41.047% 30.988%, 58.171% 35.479%);
  background-color: #384e4d;
}
/* line 150, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(13) .shard {
  -webkit-clip-path: polygon(17.882% 45.693%, 37.186% 39.103%, 17.827% 55.964%);
  background-color: #486461;
}
/* line 156, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(14) .shard {
  -webkit-clip-path: polygon(17.827% 55.964%, 37.131% 39.103%, 33.711% 48.13%);
  background-color: #62827f;
}
/* line 162, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(15) .shard {
  -webkit-clip-path: polygon(17.827% 55.964%, 33.766% 48.13%, 32.112% 61.716%);
  background-color: #aac7c6;
}
/* line 169, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(16) .shard {
  -webkit-clip-path: polygon(25.99% 61.716%, 32.64% 61.368%, 36.91% 70.146%);
  background-color: #0d1417;
}
/* line 175, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(17) .shard {
  -webkit-clip-path: polygon(33.711% 48.13%, 55.276% 61.952%, 32.195% 61.597%);
  background-color: #d9ebeb;
}
/* line 181, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(18) .shard {
  -webkit-clip-path: polygon(27.107% 55.964%, 39.318% 59.352%, 40.467% 66.772%);
  background-color: #334543;
}
/* line 187, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(19) .shard {
  -webkit-clip-path: polygon(27.107% 55.964%, 40.467% 66.772%, 45.128% 74.085%);
  background-color: #21282f;
}
/* line 194, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(20) .shard {
  -webkit-clip-path: polygon(33.711% 48.13%, 37.076% 39.121%, 59.688% 51.237%);
  background-color: #739998;
}
/* line 200, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(21) .shard {
  -webkit-clip-path: polygon(36.414% 33.588%, 47.582% 21.06%, 47.044% 34.533%);
  background-color: #2d3b3b;
}
/* line 206, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(22) .shard {
  -webkit-clip-path: polygon(33.711% 48.13%, 59.688% 51.237%, 55.276% 61.952%);
  background-color: #d8e2de;
}
/* line 212, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(23) .shard {
  -webkit-clip-path: polygon(37.076% 39.121%, 58.171% 35.479%, 55.3% 40.679%);
  background-color: #415555;
}
/* line 218, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(24) .shard {
  -webkit-clip-path: polygon(37.076% 39.121%, 55.3% 40.442%, 59.688% 51.237%);
  background-color: #486461;
}
/* line 224, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(25) .shard {
  -webkit-clip-path: polygon(55.3% 40.442%, 58.171% 35.479%, 59.688% 51.237%);
  background-color: #384e4d;
}
/* line 230, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(26) .shard {
  -webkit-clip-path: polygon(58.171% 35.479%, 75.108% 48.262%, 59.688% 51.237%);
  background-color: #4b6364;
}
/* line 237, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(27) .shard {
  -webkit-clip-path: polygon(55.276% 61.952%, 59.688% 51.237%, 75.108% 48.262%);
  background-color: #c0dbd3;
}
/* line 243, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(28) .shard {
  -webkit-clip-path: polygon(58.171% 35.479%, 82.907% 41.309%, 75.108% 48.262%);
  background-color: #2d3b3b;
}
/* line 249, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(29) .shard {
  -webkit-clip-path: polygon(78.275% 41.979%, 86.099% 38.183%, 96.64% 38.788%);
  background-color: #365255;
}
/* line 255, ../assets/layout/_main.scss */
#animalchanger.vaquita .shard-wraps .shard-wrap:nth-child(30) .shard {
  -webkit-clip-path: polygon(78.275% 41.979%, 96.64% 38.788%, 88.644% 43.784%);
  background-color: #678781;
}

/* line 267, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(1) .shard {
  -webkit-clip-path: polygon(20.35% 45.429%, 22.8% 35.571%, 28.95% 39.286%);
  background-color: #8F6B4E;
}
/* line 273, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(2) .shard {
  -webkit-clip-path: polygon(20.35% 45.429%, 26.45% 41%, 23.65% 47.429%);
  background-color: #684B2D;
}
/* line 279, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(3) .shard {
  -webkit-clip-path: polygon(22.8% 35.714%, 22.75% 27.857%, 30.05% 29%);
  background-color: #B89076;
}
/* line 285, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(4) .shard {
  -webkit-clip-path: polygon(25.4% 28.357%, 29.7% 28.929%, 22.8% 35.643%);
  background-color: #c6a188;
}
/* line 291, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(5) .shard {
  -webkit-clip-path: polygon(22.8% 35.714%, 30% 28.857%, 27.95% 40.4%);
  background-color: #AA8269;
}
/* line 297, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(6) .shard {
  -webkit-clip-path: polygon(22.85% 29.143%, 19.35% 24.857%, 22.65% 26.286%);
  background-color: #DEC9BF;
}
/* line 303, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(7) .shard {
  -webkit-clip-path: polygon(22.75% 27.857%, 25.85% 25.571%, 30.05% 29.286%);
  background-color: #A2725D;
}
/* line 310, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(8) .shard {
  -webkit-clip-path: polygon(29.85% 29%, 34.35% 26.286%, 32.75% 31.143%);
  background-color: #DEC9BF;
}
/* line 316, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(9) .shard {
  -webkit-clip-path: polygon(23.45% 27.286%, 21.65% 16.143%, 24.95% 26.429%);
  background-color: #634C42;
}
/* line 322, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(10) .shard {
  -webkit-clip-path: polygon(26.05% 25.857%, 30.15% 19.714%, 28.05% 27.571%);
  background-color: #634C42;
}
/* line 328, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(11) .shard {
  -webkit-clip-path: polygon(21.75% 16%, 24.95% 4.429%, 22.25% 17.857%);
  background-color: #312B34;
}
/* line 334, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(12) .shard {
  -webkit-clip-path: polygon(30.05% 19.714%, 34.05% 15.571%, 28.85% 24.429%);
  background-color: #312B34;
}
/* line 340, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(13) .shard {
  -webkit-clip-path: polygon(33.15% 16.571%, 33.15% 4.429%, 33.95% 15.571%);
  background-color: #413430;
}
/* line 346, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(14) .shard {
  -webkit-clip-path: polygon(29.95% 29.143%, 37.15% 42.571%, 27.85% 40%);
  background-color: #A3785C;
}
/* line 352, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(15) .shard {
  -webkit-clip-path: polygon(27.75% 40%, 37.15% 42.429%, 33.8% 53.4%);
  background-color: #835D48;
}
/* line 359, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(16) .shard {
  -webkit-clip-path: polygon(33.45% 35.857%, 52.05% 38.2%, 37.05% 42.714%);
  background-color: #835D48;
}
/* line 367, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(17) .shard {
  -webkit-clip-path: polygon(37.2% 42.1%, 38.85% 58.714%, 33.75% 53.429%);
  background-color: #896444;
}
/* line 373, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(18) .shard {
  -webkit-clip-path: polygon(37.05% 42.429%, 47.85% 60.714%, 38.75% 58.714%);
  background-color: #A3785C;
}
/* line 379, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(19) .shard {
  -webkit-clip-path: polygon(37.05% 42.571%, 52.05% 38.143%, 47.85% 60.714%);
  background-color: #996E50;
}
/* line 385, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(20) .shard {
  -webkit-clip-path: polygon(38.85% 58.571%, 43.45% 59.571%, 36.65% 76.286%);
  background-color: #9E765B;
}
/* line 391, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(21) .shard {
  -webkit-clip-path: polygon(38.55% 71.571%, 41.95% 85.429%, 36.65% 75.714%);
  background-color: #76563A;
}
/* line 397, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(22) .shard {
  -webkit-clip-path: polygon(43.85% 59.571%, 47.85% 60.571%, 46.35% 85.714%);
  background-color: #AC805E;
}
/* line 404, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(23) .shard {
  -webkit-clip-path: polygon(47.75% 60.571%, 52% 38.143%, 61.95% 58.143%);
  background-color: #91694E;
}
/* line 410, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(24) .shard {
  -webkit-clip-path: polygon(51.85% 38.286%, 67.15% 35.714%, 73.65% 47.571%);
  background-color: #906754;
}
/* line 416, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(25) .shard {
  -webkit-clip-path: polygon(52.05% 38.286%, 73.65% 47.429%, 61.85% 58.286%);
  background-color: #A2785C;
}
/* line 422, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(26) .shard {
  -webkit-clip-path: polygon(65.85% 59.143%, 70.85% 52.286%, 73.65% 74.143%);
  background-color: #654E45;
}
/* line 428, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(27) .shard {
  -webkit-clip-path: polygon(61.85% 58.143%, 73.55% 47.429%, 68.35% 59.143%);
  background-color: #AF896D;
}
/* line 434, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(28) .shard {
  -webkit-clip-path: polygon(61.85% 58%, 68.35% 59.143%, 68.35% 72.286%);
  background-color: #BF9C87;
}
/* line 441, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(30) .shard {
  -webkit-clip-path: polygon(66.45% 68.143%, 68.25% 72.143%, 62.05% 86.143%);
  background-color: #7E5C3F;
}
/* line 447, ../assets/layout/_main.scss */
#animalchanger.panda .shard-wraps .shard-wrap:nth-child(29) .shard {
  -webkit-clip-path: polygon(71.45% 69.714%, 73.55% 73.857%, 71.35% 85.429%);
  background-color: #B48461;
}

/* Footer */
/* line 2, ../assets/layout/_footer.scss */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.7rem;
  text-align: center;
}
