/* Main */
#main {
  @include vendor('display', 'flex');
  flex-direction: column;
  margin-top: 2.8rem;
  width: 100%;
  
  font-size: .7rem;
  letter-spacing: .1rem;
  text-align: center;

  .logo {
    display: inline-block;
    padding: 1.2rem;
    img {
      width: 3rem;
      max-height: 100%;
      @include vendor('clip-path','polygon(50% 0%, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%)');
    }
  }

  .title {
    h1 {
      padding: .5rem 0;
      font-size: 1.2rem;
      font-family: _font(family-cc-ss);
      font-weight: _font(weight-bold);
    }
    h3 {
      padding: .2rem 0;
      font-size: .8rem;
      font-weight: _font(weight);
    } 
    span {
      display: inline-block;
      padding: 0 .8rem 2rem .8rem;
    }
  } 

  #stage {
    width:100%;
    background: _palette('bg');
    border: solid 1px _palette(border);
    
    #animalchanger {
      margin: 0 auto;
      vertical-align: middle;

      .shard-wraps,.shard-wrap{
        position: relative;
        width: 100%;
        height: 100%;
      }
      .shard-wrap {
        z-index: 2;
        position: absolute;
        .shard {
          width: 100%;
          height: 100%;

          &::before {
            content: '';
            display: block;
            height: 100%;
          } 
        } 
      }
    } 
  } 
} 
/* animal:vaquita */
.vaquita {
  .shard-wraps {
    .shard-wrap {
      &:nth-child(1) {
        .shard {
            -webkit-clip-path: polygon(9.38% 59.35%, 13.4% 58.95%, 9.28% 61.08%);
            background-color: #334543;
        }
      }
      &:nth-child(2) {
        .shard {
              -webkit-clip-path: polygon(9.28% 61.08%, 13.25% 58.96%, 11.7% 62.35%);
              background-color: #111619;
          }
      }
      &:nth-child(3) {
        .shard {
              -webkit-clip-path: polygon(9.389% 59.352%, 14.368% 45.048%, 17.882% 45.693%);
            background-color: #3c4650;
          }
      }
      &:nth-child(4) {
        .shard {
              -webkit-clip-path: polygon(9.389% 59.352%, 17.882% 45.693%, 14.684% 54.94%);
            background-color: #0F1622;
          }
      }
      &:nth-child(5) {
        .shard {
              -webkit-clip-path: polygon(9.389% 59.352%, 14.684% 54.94%, 13.25% 58.958%);
            background-color: #d9eadf;
          }
      }
      &:nth-child(6) {
        .shard {
              -webkit-clip-path: polygon(11.705% 62.346%, 13.25% 58.958%, 32.112% 61.716%);
              background-color: #d9ebeb;
          }
      }
      &:nth-child(7) {
        .shard {
              -webkit-clip-path: polygon(13.25% 58.958%, 14.684% 54.94%, 17.827% 55.964%);
            background-color: #333c40;
          }
      }
      &:nth-child(8) {
        .shard {
              -webkit-clip-path: polygon(13.25% 58.958%, 17.827% 55.964%, 15.676% 59.431%);
            background-color: #1c2529;
          }
      }
      &:nth-child(9) {
        .shard {
              -webkit-clip-path: polygon(14.684% 54.94%, 17.882% 45.693%, 17.827% 55.964%);
            background-color: #62827f;
          }
      }
      &:nth-child(10) {
        .shard {
              -webkit-clip-path: polygon(15.676% 59.431%, 17.827% 55.964%, 32.112% 61.716%);
            background-color: #bdd0d0;
          }
      }
      &:nth-child(11) {
        .shard {
              -webkit-clip-path: polygon(14.368% 45.048%, 41.129% 30.988%, 17.882% 45.693%);
            background-color: #273537;
          }
      }
      &:nth-child(12) {
        .shard {
              -webkit-clip-path: polygon(17.882% 45.693%, 41.047% 30.988%, 58.171% 35.479%);
            background-color: #384e4d;
          }
      }
      &:nth-child(13) {
        .shard {
              -webkit-clip-path: polygon(17.882% 45.693%, 37.186% 39.103%, 17.827% 55.964%);
            background-color: #486461;
          }
      }
      &:nth-child(14) {
        .shard {
              -webkit-clip-path: polygon(17.827% 55.964%, 37.131% 39.103%, 33.711% 48.13%);
            background-color: #62827f;
          }
      }
      &:nth-child(15) {
        .shard {
              -webkit-clip-path: polygon(17.827% 55.964%, 33.766% 48.13%, 32.112% 61.716%);
            background-color: #aac7c6;
          }
      }
      
      &:nth-child(16) {
        .shard {
              -webkit-clip-path: polygon(25.99% 61.716%, 32.64% 61.368%, 36.91% 70.146%);
            background-color: #0d1417;
          }
      }
      &:nth-child(17) {
        .shard {
              -webkit-clip-path: polygon(33.711% 48.13%, 55.276% 61.952%, 32.195% 61.597%);
            background-color: #d9ebeb;
          }
      }
      &:nth-child(18) {
        .shard {
              -webkit-clip-path: polygon(27.107% 55.964%, 39.318% 59.352%, 40.467% 66.772%);
            background-color: #334543;
          }
      }
      &:nth-child(19) {
        .shard {
              -webkit-clip-path: polygon(27.107% 55.964%, 40.467% 66.772%, 45.128% 74.085%);
            background-color: #21282f;
          }
      }
      
      &:nth-child(20) {
        .shard {
              -webkit-clip-path: polygon(33.711% 48.13%, 37.076% 39.121%, 59.688% 51.237%);
            background-color: #739998;
          }
      }
      &:nth-child(21) {
        .shard {
              -webkit-clip-path: polygon(36.414% 33.588%, 47.582% 21.06%, 47.044% 34.533%);
            background-color: #2d3b3b;
          }
      }
      &:nth-child(22) {
        .shard {
              -webkit-clip-path: polygon(33.711% 48.13%, 59.688% 51.237%, 55.276% 61.952%);
            background-color: #d8e2de;
          }
      }
      &:nth-child(23) {
        .shard {
              -webkit-clip-path: polygon(37.076% 39.121%, 58.171% 35.479%, 55.3% 40.679%);
            background-color: #415555;
          }
      }
      &:nth-child(24) {
        .shard {
              -webkit-clip-path: polygon(37.076% 39.121%, 55.3% 40.442%, 59.688% 51.237%);
            background-color: #486461
          }
      }
      &:nth-child(25) {
        .shard {
              -webkit-clip-path: polygon(55.3% 40.442%, 58.171% 35.479%, 59.688% 51.237%);
            background-color: #384e4d;
          }
      }
      &:nth-child(26) {
        .shard {
              -webkit-clip-path: polygon(58.171% 35.479%, 75.108% 48.262%, 59.688% 51.237%);
            background-color: #4b6364;
          }
      }
      
      &:nth-child(27) {
        .shard {
              -webkit-clip-path: polygon(55.276% 61.952%, 59.688% 51.237%, 75.108% 48.262%);
            background-color: #c0dbd3;
          }
      }
      &:nth-child(28) {
        .shard {
              -webkit-clip-path: polygon(58.171% 35.479%, 82.907% 41.309%, 75.108% 48.262%);
            background-color: #2d3b3b;
          }
      }
      &:nth-child(29) {
        .shard {
              -webkit-clip-path: polygon(78.275% 41.979%, 86.099% 38.183%, 96.64% 38.788%);
            background-color: #365255;
          }
      }
      &:nth-child(30) {
        .shard {
              -webkit-clip-path: polygon(78.275% 41.979%, 96.64% 38.788%, 88.644% 43.784%);
            background-color: #678781;
          }
      }
    }
  } 
}
.panda{
  .shard-wraps {
    .shard-wrap {
      &:nth-child(1) {
         .shard{
          -webkit-clip-path: polygon(20.35% 45.429%, 22.8% 35.571%, 28.95% 39.286%);
              background-color: #8F6B4E
         }
      }
      &:nth-child(2) {
        .shard {
          -webkit-clip-path: polygon(20.35% 45.429%, 26.45% 41%, 23.65% 47.429%);
              background-color: #684B2D
        }  
      }
      &:nth-child(3) {
        .shard {
          -webkit-clip-path: polygon(22.8% 35.714%, 22.75% 27.857%, 30.05% 29%);
              background-color: #B89076
          }
      }
      &:nth-child(4) {
        .shard {
          -webkit-clip-path: polygon(25.4% 28.357%, 29.7% 28.929%, 22.8% 35.643%);
              background-color: #c6a188
          }
      }
      &:nth-child(5) {
        .shard {
          -webkit-clip-path: polygon(22.8% 35.714%, 30% 28.857%, 27.95% 40.4%);
              background-color: #AA8269
          }
      }
      &:nth-child(6) {
        .shard {
          -webkit-clip-path: polygon(22.850% 29.143% ,19.350% 24.857% ,22.650% 26.286%);
              background-color: #DEC9BF
          }
      }
      &:nth-child(7) {
        .shard {
          -webkit-clip-path: polygon(22.750% 27.857% ,25.850% 25.571% ,30.050% 29.286%);
              background-color: #A2725D
          }
      }

      &:nth-child(8) {
        .shard {
          -webkit-clip-path: polygon(29.850% 29.000% ,34.350% 26.286% ,32.750% 31.143%);
              background-color: #DEC9BF
          }
      }
      &:nth-child(9) {
        .shard {
          -webkit-clip-path: polygon(23.450% 27.286% ,21.650% 16.143% ,24.950% 26.429%);
              background-color: #634C42
          }
      }
      &:nth-child(10) {
        .shard {
          -webkit-clip-path: polygon(26.050% 25.857% ,30.150% 19.714% ,28.050% 27.571%);
              background-color: #634C42
          }
      }
      &:nth-child(11) {
        .shard {
          -webkit-clip-path: polygon(21.750% 16.000% ,24.950% 4.429% ,22.250% 17.857%);
              background-color: #312B34
          }
      }
      &:nth-child(12) {
        .shard {
          -webkit-clip-path: polygon(30.050% 19.714% ,34.050% 15.571% ,28.850% 24.429%);
              background-color: #312B34
          }
      }
      &:nth-child(13) {
        .shard {
          -webkit-clip-path: polygon(33.150% 16.571% ,33.150% 4.429% ,33.950% 15.571%);
              background-color: #413430
          }
      }
      &:nth-child(14) {
        .shard {
          -webkit-clip-path: polygon(29.95% 29.143%, 37.15% 42.571%, 27.85% 40%);
              background-color: #A3785C
          }
      }
      &:nth-child(15) {
        .shard {
          -webkit-clip-path: polygon(27.75% 40%, 37.15% 42.429%, 33.8% 53.4%);
              background-color: #835D48

          }
      }
      &:nth-child(16) {
        .shard {
          -webkit-clip-path: polygon(33.45% 35.857%, 52.05% 38.2%, 37.05% 42.714%);
              background-color: #835D48
             
          }
      }

      &:nth-child(17) {
        .shard {
          -webkit-clip-path: polygon(37.2% 42.1%, 38.85% 58.714%, 33.75% 53.429%);
              background-color: #896444
          }
      }
      &:nth-child(18) {
        .shard {
          -webkit-clip-path: polygon(37.050% 42.429% ,47.850% 60.714% ,38.750% 58.714%);
              background-color: #A3785C
          }
      }
      &:nth-child(19) {
        .shard {
          -webkit-clip-path: polygon(37.050% 42.571% ,52.050% 38.143% ,47.850% 60.714%);
              background-color: #996E50
          }
      }
      &:nth-child(20) {
        .shard {
          -webkit-clip-path: polygon(38.850% 58.571% ,43.450% 59.571% ,36.650% 76.286%);
              background-color: #9E765B
          }
      }
      &:nth-child(21) {
        .shard {
          -webkit-clip-path: polygon(38.550% 71.571% ,41.950% 85.429% ,36.650% 75.714%);
              background-color: #76563A
          }
      }
      &:nth-child(22) {
        .shard {
          -webkit-clip-path: polygon(43.850% 59.571% ,47.850% 60.571% ,46.350% 85.714%);
              background-color: #AC805E
          }
      }

      &:nth-child(23) {
        .shard {
          -webkit-clip-path: polygon(47.75% 60.571%, 52% 38.143%, 61.95% 58.143%);
              background-color: #91694E
          }
      }
      &:nth-child(24) {
        .shard {
          -webkit-clip-path: polygon(51.850% 38.286% ,67.150% 35.714% ,73.650% 47.571%);
              background-color: #906754
          }
      }
      &:nth-child(25) {
        .shard {
          -webkit-clip-path: polygon(52.050% 38.286% ,73.650% 47.429% ,61.850% 58.286%);
              background-color: #A2785C
          }
      }
      &:nth-child(26) {
        .shard {
          -webkit-clip-path: polygon(65.850% 59.143% ,70.850% 52.286% ,73.650% 74.143%);
              background-color: #654E45
          }
      }
      &:nth-child(27) {
        .shard {
          -webkit-clip-path: polygon(61.850% 58.143% ,73.550% 47.429% ,68.350% 59.143%);
              background-color: #AF896D
          }
      }
      &:nth-child(28) {
        .shard {
          -webkit-clip-path: polygon(61.850% 58.000% ,68.350% 59.143% ,68.350% 72.286%);
              background-color: #BF9C87
          }
      }

      &:nth-child(30) {
        .shard {
          -webkit-clip-path: polygon(66.450% 68.143% ,68.250% 72.143% ,62.050% 86.143%);
              background-color: #7E5C3F
          }
      }
      &:nth-child(29) {
        .shard {
          -webkit-clip-path: polygon(71.450% 69.714% ,73.550% 73.857% ,71.350% 85.429%);
              background-color: #B48461
          }
      }
    } 
  }
}

